html, .style{
    
    background-image: url("https://www.walldevil.com/wallpapers/a81/wallpapers-desktop-green-bullshit-beuty-different-artistic-funny-backgrounds-color-plain-background-white-motif-images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
